#!/usr/bin/env bash

if [[ "$OSTYPE" != "darwin"* ]]; then
    alias rm="mv -t /tmp"
fi

# Override vi and vim
alias vi="nvim"
alias vim="nvim"

# Missing from zsh git plugin
alias gdf="git difftool"
