[core]
    editor = nvim
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[mergetool]
    prompt = true
[merge]
    tool = nvimdiff
[mergetool "nvimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
    rebase = true
[rebase]
    autoStash = true
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig-personal
