[core]
    editor = nvim
[pull]
    rebase = true
[rebase]
    autoStash = true
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.gitconfig-personal
